/* DEFAULT CONFIG */
:root {
  --main-app-bg_light: rgba(238, 238, 238, 0.0);
  --main-app-bg_dark: rgba(16, 16, 16, 0.0);

  --window-button-style: 2; /* Recommended: 2 */
  --window-button-size: 13px;

  --enable-window-border: 1; /* Disable: 0 */

  --glass-opacity_active: 24%;
  --glass-opacity_inactive: 100%;
  --glass-blur-strength: 10px;
  --glass-blur-saturation: 200%;

  --maclike-version_checker: true; /* Disable: false */
  --maclike-version_latest: "1.1.2"; /* DO NOT CHANGE */
}
/* VERSION CHECKER */
div[class^="bar"] > [class^="title"] > div::before {
  content: "Outdated MacLike version! Update your MacLike.theme.css\AYour version: " var(--maclike-version_current) "\A Latest version: " var(--maclike-version_latest) "\Ahttps://github.com/Arcanthur/MacLike-Discord/blob/main/MacLike.theme.css";
  position: absolute;
  top: 0;
  color: white;
  height: auto;
  width: auto;
  background: red;
  white-space: pre-wrap;
}

@container style(--maclike-version_current: var(--maclike-version_latest)) and style(--maclike-version_checker: true) {
  div[class^="bar"] > [class^="title"] > div::before {
    display: none;
  }
}
